<h1> About </h1>

<p>
	Rails for Startups!
</p>
	Our Story
</p>
<p>
	We are the team to call when you need to bootstrap your startup to create a MVP/Protoype to achieve funding. You will love our work so much you will call us again to build the full live version when you are ready! We are affordable, professional, fun and extremely knowledgeable. When we are not helping startups, we like to design fun cool websites for anyone who wants them!
</p>
