<h1> About </h1>

<p>
	For every meal purchased, BOGOMEAL will give a meal to a child in need. FIGHTING HUNGER ONE MEAL AT A TIME!
</p>
	Our Story
</p>
<p>
	A dream turned to a reality by husband & wife duo, Earl and Shana Silas, BOGOMEAL was founded just 3 years ago on a mere passion to positively impact the lives of people in desperate need of nutrition. By taking something most people do everyday order take-out or delivery they can not only support their local small business restaurants, but make a revolutionary change to helping to end the hunger crisis of the world.
</p>
<p>
	BOGOMEAL proves that it is far better to give than to receive, donating a meal for every meal purchased, and 100% of your donations to direct feeding and nutritional support both locally and globally. Taking a page for the One for One movement, BOGOMEAL seek to empower every person with the ability to affect positive change simply by ordering a meal of consicious!

</p>