<% if user_signed_in? %>
<h1> You are logged in </h1>
<% else %>

<div class ="hero-unit">
<h2> <center> BOGOMEAL - BUY one GIVE one MEAL to a child in need </center></h2>

<p> 
<h5>
	By taking something most people do everyday order take-out or delivery they can not only support their local small business restaurants, but can make a revolutionary change to helping to end the hunger crisis of the world.
</h5>
</p>
<p>

Add background image with search box and button once you learn

</p>
<P> 
<%= link_to "Sign Up Now! ", new_user_registration_path, class: "btn btn-primary btn-large" %>

</P>

</div>
<% end %>

