
	<div class ="footer">
	<small>

	<a href="http://bogomeal.com"> BOGOMEAL - BUY one GIVE one MEAL</a>

	</small>

	<ul class ="nav">
          <li> <%= link_to "Home", root_path %> </li> 
          <li> <%= link_to "About Us", about_path %> </li>
         </ul>

	</div>